@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,400;0,800;1,500;1,700&family=Ubuntu:wght@400;700&display=swap');

$font-stack: 'Montserrat', sans-serif;
$font-other: 'Kdam Thmor Pro', sans-serif;

::selection {
	color: #eee;
	background: #690000;
}

body {
	overflow-x: hidden;
}

.wrapper {
	padding: 0 15px;
}

#page {
	min-width: 320px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

// todo: Styling 'Header'
#header {
	padding: 15px 0;
	background: #2a4aa5;
}

.date-and-clock {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#m-date,
#t-date,
#time {
	color: #eee;
	font: {
		weight: 700;
		family: $font-stack;
		style: italic;
		size: 1.2rem;
	}
}

#t-date {
	display: none;
}

.header-inner {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	a {
		color: #eee;
		font: {
			size: 1.5rem;
			family: $font-other;
		}
	}

	span {
		color: #75ff6f;
	}
}

// todo: Styling 'Navigation'
.navbar:active {
	background: #95959c;
	border-radius: 8px;
	transition: all 0.6s ease;
}

.close {
	width: 32px;
	height: 32px;
	position: relative;
	cursor: pointer;
	z-index: 2;

	span {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 2px;
		background-color: #eee;
		position: absolute;
		left: 5px;
		transition: all 0.3s linear;
		opacity: 1;

		&:first-child {
			top: 6px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 14px;
		}

		&:last-child {
			top: 22px;
		}
	}
}

.check-burger {
	width: 32px;
	height: 32px;
	position: absolute;
	opacity: 0;
	z-index: 3;
	cursor: pointer;

	&:checked {
		+ {
			.close {
				+ {
					.nav {
						transform: translate(0, 0);
					}
				}
				span {
					&:first-child {
						top: -10px;
						opacity: 0;
					}

					&:nth-child(2) {
						transform: rotate(45deg);
					}

					&:nth-child(3) {
						transform: rotate(-45deg);
					}

					&:last-child {
						top: 60px;
						opacity: 0;
					}
				}
			}
		}
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-direction: column;
	position: fixed;
	left: 14px;
	right: 14px;
	bottom: 0;
	border-radius: 14px;
	background-color: #0c2364;
	z-index: 1;
	padding: 64px 12px 12px;
	transform: translate(0, 100vh);
	transition: all 0.3s linear;

	&:first-child {
		margin-left: 0;
	}

	&-link {
		text-decoration: none;
		background: #ffffff1c;
		border-radius: 10px;
		width: 100%;
		text-align: center;
		color: #eee;
		padding: 10px 0;
		line-height: 30px;
		font: {
			family: $font-stack;
			weight: 700;
			size: 18px;
		}

		span {
			color: #eee;

			span {
				color: #ff5e5e;
			}
		}
	}
}

.un-active-navbar {
	display: none;
}

// todo: Styling 'List word'
#list-word {
	background: #0b004b;
	text-align: center;
	padding-top: 30px;

	h2 {
		color: #14f082;
		font: {
			size: 2rem;
			family: $font-stack;
			weight: 700;
			style: italic;
		}
	}
}

.list-word-inner {
	hr {
		width: 70%;
		margin: 30px auto;
	}
}

#words-list {
	li {
		margin-top: 10px;
		color: #b3d4fc;
		font: {
			size: 1.2rem;
		}

		span {
			color: #009fff;
		}
	}
}
// todo: Styling 'Footer'
#footer {
	margin-top: auto;
	background: #2a4aa5;
}

.copyright {
	padding: 15px 0;
	text-align: center;

	span {
		color: #eee;
		font: {
			size: 1.2rem;
			family: $font-other;
			weight: 700;
			style: italic;
		}
	}
}

// todo: Styling 'media screen, min 768px'
@media (min-width: 768px) {
	.wrapper {
		padding: 0 30px;
	}

	#m-date {
		display: none;
	}

	#t-date {
		display: block;
	}

	.logo {
		a {
			font-size: 1.5rem;
		}
	}

	.nav {
		left: 3rem;
		right: 3rem;
		padding: 64px 30px 30px 30px;
	}

	.list-word-inner {
		padding: 20px 0;
		display: block;

		hr {
			max-width: 700px;
		}
	}

	#words-list {
		max-width: 768px;
		max-height: 2000px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-content: space-between;
		flex-wrap: wrap;

		li {
			max-width: 360px;
		}
	}
}

// todo: Styling 'media screen, min 1024px'
@media (min-width: 1024px) {
	.close,
	.check-burger {
		display: none;
	}

	.navbar:active {
		background: transparent;
	}

	.nav {
		display: block;
		gap: 0;
		position: static;
		border-radius: 0;
		transform: translate(0, 0);
		background: none;
		margin: 0;
		padding: 0;

		a {
			background: transparent;
			list-style: none;
			line-height: 20px;
			margin-left: 15px;
			border-radius: 0;
			color: #eee;
			font: {
				family: $font-stack;
				weight: 700;
				size: 16px;
			}

			&:hover {
				border-bottom: 2px solid #eee;
				transition: all 0.3s ease;
			}
		}
	}

	.active-link {
		border-bottom: 2px solid #fff;
		border-radius: 0;
		padding: 0 0 5px 0;
	}
}
