@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,400;0,800;1,500;1,700&family=Ubuntu:wght@400;700&display=swap');

// TODO: Default style
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

.wrapper {
	padding: 0 15px;
}

#page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

// ? Styling header
#header {
	padding: 15px 0;
	background: #2a4aa5;

	#time {
		color: #fff;
		display: flex;
		justify-content: center;
		font: {
			weight: 700;
			family: 'Montserrat', sans-serif;
			style: italic;
			size: 1.2rem;
		}
	}

	.header-inner {
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// TODO: Logo
	.logo a {
		color: #fff;
		font: {
			size: 1.5rem;
		}
		font-family: 'Kdam Thmor Pro', sans-serif;

		span {
			color: #ff6f6f;
		}
	}

	// TODO: Navigation
	.navbar:active {
		background: #95959c;
		border-radius: 8px;
		transition: all 0.6s ease;
	}

	.close {
		width: 32px;
		height: 32px;
		position: relative;
		cursor: pointer;
		z-index: 2;
	}

	.close span {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 2px;
		background-color: #fff;
		position: absolute;
		left: 5px;
		transition: all 0.3s linear;
		opacity: 1;
	}

	.close span:first-child {
		top: 6px;
	}

	.close span:nth-child(2),
	.close span:nth-child(3) {
		top: 14px;
	}

	.close span:last-child {
		top: 22px;
	}

	.check-burger {
		width: 32px;
		height: 32px;
		position: absolute;
		opacity: 0;
		z-index: 3;
		cursor: pointer;
	}

	.check-burger:checked + .close span:first-child {
		top: -10px;
		opacity: 0;
	}

	.check-burger:checked + .close span:nth-child(2) {
		transform: rotate(45deg);
	}

	.check-burger:checked + .close span:nth-child(3) {
		transform: rotate(-45deg);
	}

	.check-burger:checked + .close span:last-child {
		top: 60px;
		opacity: 0;
	}

	.check-burger:checked + .close + .nav {
		transform: translate(0, 0);
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
		flex-direction: column;
		position: fixed;
		left: 14px;
		right: 14px;
		bottom: 0;
		border-radius: 14px;
		background-color: #0c2364;
		z-index: 1;
		padding: 64px 12px 12px;
		transform: translate(0, 100vh);
		transition: all 0.3s linear;

		&:first-child {
			margin-left: 0;
		}

		a {
			text-decoration: none;
			background: #ffffff1c;
			border-radius: 12px;
			width: 100%;
			text-align: center;
			color: #b3d4fc;
		}

		.nav-link {
			line-height: 29px;
			padding: 7px 0;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 24px;

			span {
				color: #ff7e00;
				span {
					color: #009fff;
				}
			}
		}
	}
}

.un-active-navbar {
	display: none;
}

#list-word {
	background: #0b004b;
	border-radius: 0 0 20px 20px;
	text-align: center;

	h2 {
		color: #14f082;
		margin-top: 100px;
		font: {
			weight: 700;
			family: 'Montserrat', sans-serif;
			style: italic;
			size: 1.5rem;
		}
	}

	ul {
		li {
			margin-top: 15px;
			color: #b3d4fc;
			font: {
				size: 1.3rem;
			}

			span {
				color: #009fff;
			}
		}
	}
}

// ! 768
@media (min-width: 768px) {
	.wrapper {
		padding: 0 30px;
	}
	#header {
		#time {
			font-size: 2rem;
		}

		.logo a {
			font-size: 2rem;
		}

		.nav {
			left: 3rem;
			right: 3rem;
		}
	}

	.list-word-inner {
		padding: 20px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-evenly;
	}
}

@media (min-width: 1024px) {
	#header {
		.close,
		.check-burger {
			display: none;
		}

		.navbar:active {
			background: none;
		}

		.nav {
			display: block;
			gap: 0;
			position: static;
			border-radius: 0;
			transform: translate(0, 0);
			background: none;
			margin: 0;
			padding: 0;

			.active-link {
				border-bottom: 2px dotted #fff;
				border-radius: 0;
			}

			a {
				background: none;
				list-style: none;
				line-height: 20px;
				color: #fff;
				margin-left: 15px;
				border-radius: 0;

				&:hover {
					border-bottom: 2px dotted #fff;
					transition: all 0.3s ease;
				}

				font: {
					family: 'Montserrat', sans-serif;
					weight: 700;
					size: 16px;
				}
			}
		}
	}
}
